footer
	.row
		//- logo
		.col-xs-2.col-xs-offset-4.col-sm-5.col-sm-offset-1
			img(src="img/sleeper-pick-logo-sm.svg")

		//- footer links
		.col-xs-12.col-sm-5.text-right
			ul
				li.links Legal Information
				li.links Contact
				li.links Terms Of Service

	.row
		//- copyright
		.col-xs-11.col-xs-offset-1.col-sm-5.col-sm-offset-1
			h3 &copy; 2016 SleeperPick  All rights reserved

		//- social links
		.col-xs-10.col-sm-5.col-sm-ofset-2.text-right
			ul.social
				li: img(src='img/Facebook.png')
				li: img(src='img/Twitter.png')
				li: img(src='img/RSS.png')
				li: img(src='img/Instagram.png')
				li: img(src='img/Google+.png')
    


