doctype html
html

	head
		//=============== basic  ===============
		meta(charset='utf8')
		title SleeperPick
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name="robots" content="index, follow")
		meta(name="keywords" content="")
		meta(name="description" content="")

		//=============== favicons ===============
		link(rel="shortcut icon" href="img/sleeperPickFavicon.ico" type='image/x-icon')

		//=============== css  ===============


		// bootstrap stylesheet
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")

		// font awesome
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")


		// css pipeline
		!= css('/')







		