header#navbar
	.row
		//- MD + views
		.col-xs-2.col-xs-offset-0.col-sm-3.col-sm-offset-1.col-md-2.col-md-offset-1
			img.logo(src="img/sleeper-pick-logo-lg.svg")

		//- MD + views
		.hidden-xs.col-sm-2.col-md-3
			h1 Never expect to lose.

		//- MD + views
		.hidden-xs.col-sm-2.col-md-1.col-md-offset-2
			ul
				li: a(href="#description") THE GAME

		//- MD + views
		.hidden-xs.col-md-2
			a.button(href="#")
				img(src="img/apple-logo.svg")
				span APP COMING SOON!