header#navbar
	.row
		//- MD + views
		.col-md-2.col-md-offset-1
			img.logo(src="img/sleeper-pick-logo-lg.svg")

		//- MD + views
		.col-md-3
			h1 Never expect to lose.

		//- MD + views
		.col-md-2.col-md-offset-1
			ul
				li THE GAME
				li THE APP

		//- MD + views
		.col-md-2
			a.button(href="#")
				img(src="img/apple-logo.svg")
				span APP COMING SOON!