header#navbar
	.row
		.col-md-2.col-md-offset-1
			img.logo-lg(src="img/sleeper-pick-logo-lg.svg")
		.col-md-3
			h1 Never expect to lose.
		.col-md-2
			ul
				li THE GAME
				li THE APP
		.col-md-2
			a.btn.btn-warning(href="#" target="_blank")
				i.fa.fa-apple(aria-hidden="true")
				span APP COMING SOON!