
footer
    // floating action button
    .fab-container.openSlickModal-1
        //-.speech-bubble
            img(src="img/modal/speech-bubble-frame_zkTbsyuu.png")
            .speech-text
                p We #[img(src="img/modal/hearts.svg")] digital artists
                p: a(href="#{artist.portfolioUrl}")= artist.portfolioUrlLabel
        .fab
            img(style="width:80px;" src="img/modal/gallery-fab.png")

    // policy box 
    .policy-box
        span We're a Brooklyn, New York based digital design firm. &#169; THE VAAN GROUP 2016 . ALL RIGHTS RESERVED.
        ul
            li
                a(href="#") info@vaangroup.com
            li
                a(href="#") +1(845)399-5890
        
    
    // footer social
    .footer-social
        ul
           li
            a(href="http://www.twitter.com/thevaangroup" target="_blank")
                i(class="fa fa-twitter")

        
    // footer social end 
    .to-top
        i(class="fa fa-angle-up")


