// ========== Modal block ==========
//- use artistName field as id to drive 
#popup-modal.slickModal
	.profile-container
		
		for artist in contentful.featuredArtist
			// fetured artist
			.entry(style="display:none;background:url(#{asset(artist.backgroundImage)}) no-repeat center center / cover")

				// artist name
				.name-group
					h3= artist.artistName


					span.next
						i.fa.fa-angle-double-right &nbsp;
					span.previous
						i.fa.fa-angle-left &nbsp;

				//- description
					if artist.description
						!= marked(artist.description)
				
				// FAB
				//-if artist.portfolioUrl && artist.portfolioUrlLabel
				.fab-container
					.speech-bubble
						img(src="img/modal/speech-bubble-frame_zkTbsyuu.png")
						.speech-text
							p We #[img(src="img/modal/hearts.svg")] digital artists
							p: a(href="#{artist.portfolioUrl}")= artist.portfolioUrlLabel
					.fab
						img(src="img/modal/info-button.png")
			// end fetured artist




	// Popup Window
	.window
		.logo-container
			img.logo(src="img/TVG_LOGO_NEW_BLACK.svg")
		.header Welcome to The Vaan Group
		.window-separator
		.window-body We're a full-service digital agency helping our clients craft sparkling digital experiences.
		.window-services.closeModal
			ul
				li Branding
				li Web Design
				li UX Design
				li UI Design
				li CX Design
		.modal-button.closeModal Enter
	// end Popup Window 
// ========== end Modal block ==========