//- ToDo: solve navigation bugs
	- navigating to index.html fails when I click it from a case study page



.nav-button-holder
	.nav-button.vis-m
		span
		span
		span
.show-share.isShare Share
.nav-holder
	nav
		ul
			//- featuredProjects collection
			li
				a(href="/index.html") Featured Projects
				ul
					//- sort featuredProjects
					- contentful.featuredProjects.sort(function(a,b) { return a.orderById - b.orderById;})

					- for project in contentful.featuredProjects
						//- to display project payload content in terminal
						//- console.log(JSON.stringify(project,4))

						
						//- set url for each featuredProject
						li(style="display:block; clear:left; margin-bottom:-2px;")
							a(href= project._url)= project.navBarLabel

			
			//- selectedWorks collection
			li
				a(href="#") Selected Works
				ul
					//- sort selectedWorks
					- contentful.selectedWorks.sort(function(a,b) { return a.orderById - b.orderById;})

					- for project in contentful.selectedWorks
						//- to display project payload content in terminal
						//- console.log(JSON.stringify(project,4))
						
						//- set url for each selectedWork
						li(style="display:block; clear:left; margin-bottom:-2px;")
							a(href= project._url)= project.navBarLabel

			li
				a(href="shopify.html") Shopify
			li
				a(href="workspace.html") Workspace Williamsburg
			li
				a(href="about.html") About us 
			li
				a(href="services.html") Services 
			li
				a(href="contact.html") Contact









