extends ./base/_layout

block theContent

	.container-fluid
		
		//-
			ToDo
				turn this into a BS nav bar


		// section.top
		section.top

			// header
			header
				.row
					.col-sm-2.col-sm-offset-1
						img.logo-lg(src="img/sleeper-pick-logo-lg.svg")
					.col-sm-3.
						Never expect to lose.
					.col-sm-2
						ul
							li THE GAME
							li THE APP
					.col-sm-2
						a.btn.btn-warning(href="#" target="_blank")
							img(src="img/apple-logo.svg")
							span APP COMING SOON!


			// body
			section
				.row
					.col-sm-5.col-sm-offset-1
						.marketing
							p.
								Fantasy the way sports are really played
							p.
								Create tournaments. Pick teams. Dominate friends. 
							p.
								SleeperPick let’s you create daily pick’em pools. Points are awarded for underdogs.Get in the game!
					.col-sm-5
						img.mobile-mock(src="img/mobile-mock-sliced.png")

		// / section.top


		// separator
		.row
			.col-sm-12
				.separator
		// / separator



		// section.bottom
		section.bottom
			
			// header
			header
				.row
					.col-sm-2.col-sm-offset-5.text-center.
						HOW IT WORKS


			// body
			section
				// arrow-black-down
				.row
					.col-sm-2.col-sm-offset-7
						#arrow-down
							img(src="img/arrow-black-down.png")
				// cards
				.row
					// card 1
					.col-sm-3.col-sm-offset-1
						.card
					// card 2
					.col-sm-4
						.row
							.col-sm-12
								.row
									
									.col-sm-8.col-sm-offset-1
										.card
					// card 3
					.col-sm-3
						.card
				// arrot-black-up
				.row
					.col-sm-2.col-sm-offset-3
						#arrow-up
							img(src="img/arrow-black-up.png")
				// panel
				.row
					.col-sm-10.col-sm-offset-1
						#well




		// / section.bottom


		// separator
		.row
			.col-sm-12
				.separator
		// / separator

		






	

















