// set color pallette
primary		= #FFF
accent		= #E7BF1F



// make bootstrap container fill viewport
.container-fluid, .row, .col-sm-12, .col-xs-12
	padding 			0
	margin 				0
	


// section separator
.separator
	display				block
	background			rgba(0, 0, 0, 1) url('../img/separator.svg')
	width				100%
	height				20px