@import './_base.styl'
@import './_functions.styl'


width 					= 1200px
height 					= 1016px
	

.bottom
	height				100%
	padding-top			75px
	background			shadow url('../img/bg-sheet-bottom.png') no-repeat center center / cover	
	


.card
	//display				inline-block
	//position			relative
	height 				338px
	//width				303px
	margin				auto
	border-radius 		20px
	background-color 	secondary
	box-shadow 			inset 0 -17px 0 0 shadow
	color 				primary
	


// respValonsive tweaks for .card
// XS & SM views
@media only screen and (max-width: 991px)
	.card
		width			100%
		max-width		303px
		margin-bottom	60px




#arrow-right
	display				inline-block
	margin-top			-60px
	transform			rotate(90deg)



#arrow-up
	display				inline-block
	padding-left		70px



#arrow-left
	display				inline-block
	margin-top			-60px
	transform			rotate(90deg)



#arrow-down
	display				inline-block
	padding-left		30px



#scoring
	margin-top			117px



#pannel
	//width 				1050px
	margin-top			22px
	margin-bottom		104px
	height 				221px
	border-radius 		20px
	background-color 	#353535
	box-shadow 			inset 0 -10px 0 0 shadow
	





	




