@import './_base.styl'
@import './_functions.styl'


width 					= 1200px
height 					= 1016px
	

.bottom
	height				100%
	padding-top			66px
	background			shadow url('../img/bg-sheet-bottom.png') no-repeat center center / cover	
	


.card
	//display				inline-block
	//position			relative
	height 				338px
	//width				303px
	margin				auto
	padding-top			50px
	border-radius 		20px
	background-color 	secondary
	box-shadow 			inset 0 -17px 0 0 shadow
	color 				primary
	


// respValonsive tweaks for .card
// XS & SM views
@media only screen and (max-width: 991px)
	.card
		width			100%
		max-width		303px
		margin-bottom	60px
		padding-bottom	15px
		
		


.stopwatch
	margin-top			30px
	


.basketball
	margin-top			-30px
	margin-bottom		5px
	


.trophy
	padding-top			18px
	padding-bottom		50px
	

@media only screen and (max-width: 991px)
	.trophy
		padding-bottom	15px
	

.seal
	padding-top			18px
	padding-bottom		18px
	


.card h2
	padding-top			14px
	font-family 		BebasNeueBold
	font-size 			34px




#arrow-right
	display				inline-block
	margin-top			-60px
	transform			rotate(90deg)



#arrow-up
	display				inline-block
	padding-left		70px



#arrow-left
	display				inline-block
	margin-top			-60px
	transform			rotate(90deg)



#arrow-down
	display				inline-block
	padding-left		30px



#scoring
	margin-top			50px



.bottom h1
	font-family			BebasNeueRegular
	font-size 			38px



#pannel
	//width 				1050px
	margin-top			22px
	margin-bottom		104px
	padding-top			20px
	height 				221px
	border-radius 		20px
	background-color 	#353535
	box-shadow 			inset 0 -10px 0 0 shadow
	color 				primary



#pannel h2
	display				inline-block
	font-family 		CentumaBold, Arial
	font-size 			24px



#pannel span
	font-family 		Centuma
	font-size 			24px
	

//#pannel .icon
//	margin				25px 				
	
	





	




