@import './_base.styl'



footer
	height				221px
	padding-top			45px
	background			rgba(0, 0, 0, 1) url('../img/bg-sheet-top.png') no-repeat center center / cover
	color				primary
	

footer li
	display				inline-block
	padding-right		15px	
	

footer h3
	padding-top			14px
	color				#797A76
	

.links
	padding-top			27px
	


@media only screen and (max-width: 767px)
	footer
		padding-top 	20px
		

	.social
		padding-top 	15px		
		


@media only screen and (min-width: 768px)
	.social ul
		padding-left	25px








		
	
