@import './_base.styl'
@import './_functions.styl'


width 					= 1200px
height 					= 1016px
	

#navbar
	height 				137px
	padding-top 		20px
	color				primary
	

#navbar h1
	font-family			BebasNeueBold
	font-size			24px
	

#navbar li
	display				inline-block
	width				fit-content
	text-align			left
	font-family			Centuma
	font-size			14px
	

#navbar li:first-child
	margin-right		40px
	

#navbar .button
	display				inline-block
	padding 			7px 0px 28px 0px
	width 				173px
	height 				30px
	border-radius 		26.7px
	background-color 	accent
	text-align			center
	

#navbar .button span
	//width 				fit-content
	display 			inline-block
	padding-left		17px
	margin 				-5px auto 0 auto
	height 				7px
	font-family 		Montserrat-Bold, Centuma
	font-size 			6.7px
	line-height 		1
	letter-spacing 		1.3px
	text-align 			center
	color 				primary
	
	


	