@import './_base.styl'
@import './_functions.styl'


width 		= 1200px
height 		= 800px
	

.top
	height				fit-content //800px
	background			rgba(0, 0, 0, 1) url('../img/bg-sheet-top.png') no-repeat center center / cover



.top section
	display				block
	overflow			hidden
	margin-top			66px
	


.marketing
	height				500px
	padding-top			30px
	color 				primary
	


.marketing h1
	margin-bottom		30px
	font-family			BebasNeueBold
	font-size 			36px
	


.marketing h2
	margin-bottom		30px
	font-family			Centuma
	font-size			24px
	


.marketing p
	margin-bottom		80px
	font-family			Centuma
	font-size			16px
	


.marketing .input-group
	height				45px
	width				310px
	font-family			Centuma
	

#input-row
	padding-left		0
	
	

.marketing input
	height				45px
	width				60% !important
	

.marketing .submit
	width				30% !important
	color				primary
	background-color	accent
	border				0
	

.signup-arrow
	margin-bottom		20px	
	

// iphone 6 views only
@media only screen and (max-width: 767px)
	#input-row
		padding-left	12.5%
	


.mobile-mock
	display 			inline-block
	width				501px
	z-index				-20
	


	

	






