@import './_base.styl'
@import './_functions.styl'


width 		= 1200px
height 		= 800px
	

.top
	height				800px
	background			rgba(0, 0, 0, 1) url('../img/bg-sheet-top.png') no-repeat center center / cover



.top section
	display				block
	margin-top			84px
	


.logo-lg
	width				115px
	


.marketing
	height				500px
	padding-top			30px
	color 				primary
	


.marketing p
	margin-bottom		45px
	


.mobile-mock
	display 			inline-block
	width				501px
	z-index				-20
	


	

	






