// style rules for .fab-container in footer

@import "_base.styl"
@import "_functions.styl"

/*
footer .fab-container img
	position			fixed
	position			absolute
	bottom				0
	left				0
	padding-left		getRespVal(30px,vp-width)
	padding-bottom		getRespVal(30px,vp-width)
*/