.slickModal div,
.slickModal span,
.slickModal h1,
.slickModal h2,
.slickModal h3,
.slickModal p,
.slickModal a,
.slickModal img,
.slickModal ul,
.slickModal li{border:none;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;text-decoration:none;margin:0;padding:0;}
.slickModal ul { list-style: none;}
.slickModal img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
.slickModal a{text-decoration:none; position:relative; color:#000;}